version: "3.8"

services:
  postgres:
    image: postgres:16-alpine
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: vaibhav
      POSTGRES_DB: user_management_db
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 10s

  backend:
    build: ./backend
    container_name: nest_api
    restart: always
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      DATABASE_HOST: host.docker.internal
      DATABASE_PORT: 5433
      DATABASE_USER: postgres
      DATABASE_PASSWORD: vaibhav
      DATABASE_NAME: user_management_db
    ports:
      - "3000:3000"
    working_dir: /app
    healthcheck:
      test: ["CMD-SHELL", "wget -qO- http://localhost:3000/ || exit 1"]
      interval: 5s
      timeout: 3s
      retries: 10
      start_period: 10s

  frontend:
    build: ./frontend
    container_name: vite_ui
    restart: always
    depends_on:
      backend:
        condition: service_healthy
    environment:
      VITE_API_URL: http://localhost:3000/users
    ports:
      - "5173:5173"
    working_dir: /app

volumes:
  pgdata:
